.square {
    border-radius: 0px;
}

.jumbotron {
    /* background-image: linear-gradient(to right, #007bff, #000); */
    background-image: linear-gradient(to right, #ff0000, #ff9900);
    color: #fff;
}

.menu-container {
    display: flex;
    /* justifyContent: "space-between"; */
    align-items: center;
}

.pointer {
    cursor: pointer;
}

.equal-height {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px; /* Optional for spacing */
  }
  .course-card {
    background: white;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    height: 100%; /* Ensures same height */
  }