.square {
    border-radius: 0px;
}

.jumbotron {
    background-image: linear-gradient(to right, #007bff, #000);
    color: #fff;
}

.menu-container {
    display: flex;
    /* justifyContent: "space-between"; */
    align-items: center;
}

.pointer {
    cursor: pointer;
}